R/Taller Aplicado - Modelos VECM - Escenario 1 - Series I(1) No Cointegradas (Completamente Desarrollado).R
R/Taller Aplicado - Modelos VECM - Escenario 2 - Series I(1) Cointegradas (Completamente Desarrollado).R
R/Taller Aplicado - Modelos VECM - Escenario 3 - Series I(0) (Completamente Desarrollado).R
